:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  //background-color: #f6f6f6;
}

h1 {
  font-family: "Shantell Sans", cursive;
  text-decoration: overline;
  margin: 0 0 15px 0;
  padding: 10px;
  border-top: 3px solid black;
}

.landing-block {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  padding: 25px 0 0 0;
  &__home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 77%;
  }
  &__article {
    display: flex;
    flex-direction: column;
    width: 251px;
    height: 152px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
  }
  &__article-title {
    background-color: #d3deff;
    border-radius: 10px 10px 0 0;
    font-size: 12px;
  }
  &__article-content {
    padding: 10px;
    button {
      font-size: 14px;
      margin: 0;
      background-color: #c880ed;
    }
  }
}

.face-snap-card {
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #dff1c6;
  box-shadow: 5px 16px 24px darkgrey;
  h2 {
    margin: 10px 0 0 0;
  }
  img {
    height: 138px;
    width: 177px;
  }
  button {
    margin: 0;
    background-color: #dff1c6;
  }
  &__title {
    margin: 0 30px;
    border-bottom: 1px solid black;
  }
}

.snap {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  button {
    margin-top: 10px;
    width: 137px;
    height: 32px;
  }
  span {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 40px;
    i {
      color: #aade62;
      margin-top: 1px;
    }
  }
}

.date {
  font-size: 10px;
}

.description {
  font-size: 15px;
}

.location {
  font-size: 10px;
}

.landing-links {
  width: 210px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 210px;
  padding: 25px 0;
  button {
    background-color: #dff1c6;
    margin: 50px 0;
    padding: 5px;
  }
}

button {
  font-size: 14px;
  width: 232px;
}
